body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.test {
  height: 180px;
width: 180px;
  padding: 5px;
}

.test[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555; 
}

.borderless-table {
  border-collapse: collapse;
  border: none;
}

.place {
  padding: 5px;
}

.place[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555; 
}


.testt {
  height: 150px;
width: 300px;
  padding: 5px;
}

.testt[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555; 
}












tr:nth-child(1) {
  text-align: center;
  font-size: 16px;
}

tr:nth-child(2) th {
  width: 17%;
}

tr:nth-child(3),
tr:nth-child(4) {
  width: 10%;
  height: 5px;
}


























*{
  margin: 0;
  padding: 0;
}



.navbar{
  width: 1480px;
  height: 75px;
  margin: auto;
}


   

.menu{
  width: 400px;
  float: left;
  height: 70px;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
    margin-top: -21px;

}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 16px;

}

ul li a{
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: #ff7200;
}

.search{
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch{
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn{
  width: 100px;
  height: 40px;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
  margin-top: 8px;

}
.btn:hover{
  color: #000;
}

.btn:focus{
  outline: none;
}

.srch:focus{
  outline: none;
}

.content{
  width: 1200px;
  height: auto;
  margin: auto;
  color: #715e5e;
  position: relative;
}

.content .par{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1{
  font-family: 'Times New Roman';
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .cn{
  width: 160px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
  
}

.content .cn a{
  text-decoration: none;
  color: #000;
  transition: .3s ease;
}

.cn:hover{
  background-color: #fff;
}





.form h2{
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #130d0d;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #948c8c;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus{
  outline: none;
}

::placeholder{
  color: #a8a3a3;
  font-family: Arial;
}

.btnn{
  width: 240px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #181616;
  transition: 0.4s ease;
}
.btnn:hover{
  background: #0c0c0c;
  color: #ff7200;
}
.btnn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.form .link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.form .link a{
  text-decoration: none;
  color: #ff7200;
}
.liw{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.icons a{
  text-decoration: none;
  color: #111010;
}
.icons ion-icon{
  color: #222020;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}
.icons ion-icon:hover{
  color: #ff7200;
}






.testee {
  width: 170px;
    padding: 5px;
  
  }
  
  .testee[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
  }
  




.placeeee {
width: 200px;
  padding: 5px;

}

.placeeee[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555; 
}


footer {
  margin-top: 100px;
  padding: 20px;
  background-color: rgb(7, 43, 105);
  align-items: center;
  width: 1500px;
  height: 120px;
  margin: auto;
  font-size: 12px;
  img {
    height: 100px;
  }
}
.nav-link {
  text-decoration-color: white;
}


.button-group {
  justify-content: center;
  font-weight: bolder;
  color: white;
  align-items: center;
  height: 10vh;
 
  display: flex;
  flex-direction: row;
}
.italic-text {
  font-style: italic;
}

.button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5983c2; /* Couleur de fond */
  color: white; /* Couleur du texte */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: white;
}


.custom-navbar {
  height: 80px !important;
  background-color: rgb(7, 43, 105);
   

}




.add {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  .content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      padding: 10px;
      border: 1px solid rgb(8, 7, 7);
    }

    .editorContainer {
      height: 300px;
      overflow: scroll;
      border: 1px solid rgb(110, 100, 100);

      .editor {
        height: 100%;
        border: none;
      }
    }
  }

  .menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .item {
      border: 1px solid lightgray;
      padding: 10px;
      flex:1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 12px;
      color: #555;

      h1{
        font-size: 20px;
      }

      .file{
        text-decoration: underline;
        cursor: pointer;
      }

      .buttons{
        display: flex;
        justify-content: space-between;

        :first-child{
          cursor: pointer;
          color: teal;
          background-color: white;
          border: 1px solid teal;
          padding: 3px 5px;
        }
        :last-child{
          cursor: pointer;
          color: white;
          background-color: teal;
          border: 1px solid teal;
          padding: 3px 5px;
        }
      }

      .cat{
        display: flex;
        align-items: center;
        gap: 2px;
        color: teal;
      }
    }
  }
}



table, th, td {
  border: 1px solid black;
}

body {
  font-family: Arial, sans-serif;
  
}



label {
  display: block;
  margin-bottom: 8px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  max-width: 250px;
  margin-bottom: 16px;
  box-sizing: border-box;
}



button {
 
 background-color:#5983c2 ; 
  font-weight: bolder; /* trod les text en gras  */
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  
}

button:hover {
  background-color: #574ece;
  color: white;
}

.custom-button {
  background-color: rgb(7, 43, 105);
  color: #FFF;
  margin-top: 5px;
  font-size: 13px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Animation de transition */
}

/* Effet hover */
.custom-button:hover {
  background-color: #d42010;
  color: rgb(7, 43, 105); 
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b2430;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}



#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
  color: #17cf97;
}
.hide-print {
  display: none;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#mobile i {
  color: #fff;
  align-items: center;
}


@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    top: -100vh;
		
		display: flex;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
}
.search-container {
  position: relative;
  width: 100%;
  margin-left: 1152px;
}

@media print {
  .hide-on-print {
    display: none !important;
  }
}
.search-input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  margin-top: 11px;
  height: 43px ;
  
  
}
.search-btn{
   font-size: 13px;
   height: 43px ;
   margin-top: 11px;
}

.search-background {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 4px; /* Assure que le fond a le même arrondi que la barre de recherche */
}
.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
}
/* Style du bouton */


/* Style du bouton au survol */
.print-button:hover {
  background-color: #0056b3; /* Couleur de fond plus foncée */
}

/* Style pour centrer le bouton */
.button-container {
  display: flex;
  justify-content: center;
}

/* Style pour le conteneur du bouton */
.button-container {
  margin-top: 20px;
}

